@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  /* Colores de Fondo */
  --navbar: #003566;
  --bg-dark: #000814;

  /* Colores de textos */
  --title-color: #ffc300;
  --text-highligth: #ffd60a;
  --text-normal: #e5e5e5;

  /* Colores de Botones */
  --btn-yellow: #fca311;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* header */

header {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  background: linear-gradient(45deg, #020345, #29b9d6, #020345 70%);
  box-shadow: 0.25rem 0 1.5rem var(--navbar);
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-options {
  display: flex;
  gap: 2rem;
}

.logo,
.navbar-options .home {
  filter: invert();
  height: 90%;
}

.navbar-options a {
  color: var(--text-normal);
}

.navbar-options a:hover {
  /* filter: invert(80%); */
  color: var(--text-highligth);
  font-weight: 700;
}

/* Main */

body {
  min-height: 100vh;
  background: linear-gradient(45deg, #588157, #fefae0);
}

/* Hero */

.hero {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3.5rem;
  font-family: "Roboto", sans-serif;
}

.hero .hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hero-info .title {
  font-family: "Montserrat", sans-serif;
  color: var(--title-color);
  text-shadow: 0 0 1rem darkgreen;
  font-size: 4rem;
  font-weight: 800;
}

.hero-info p {
  color: #081c15;
  text-align: left;
  font-size: 1.5rem;
}

.hero-info .hero-actions {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.hero-actions button {
  background-color: var(--btn-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  width: 16rem;
}

.hero-actions button:hover {
  filter: invert(90%);
}

.hero-actions .call-to-action img {
  width: 16%;
}

.hero .hero-img {
  width: 50rem;
  border-radius: 4rem 0;
  box-shadow: 0 0 1.5rem black;
}
