@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  /* Colores de Fondo */
  --navbar: #003566;
  --bg-dark: #000814;
  --gradients: linear-gradient(45deg, #dc2f02, #ffba08);

  /* Colores de textos */
  --title-color: #ffc300;
  --text-highligth: #ffd60a;
  --text-normal: #e5e5e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

/* header */

header {
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  background: linear-gradient(to top, var(--bg-dark), var(--navbar));
  box-shadow: 0.25rem 0 1.5rem var(--navbar);
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-options {
  display: flex;
  gap: 2rem;
}

.logo,
.navbar-options .home {
  filter: invert();
  height: 90%;
}

.navbar-options a {
  color: var(--text-normal);
  transition: 500ms ease-in;
}

.navbar-options a:hover {
  /* filter: invert(80%); */
  color: var(--text-highligth);
  font-size: 1.2rem;
}

/* Main */

body {
  min-height: 100vh;
  background: var(--bg-dark);
  font-family: "Roboto", sans-serif;
  color: var(--text-normal);
}

strong {
  color: var(--title-color);
}

/* Section Hero */

.hero {
  padding: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 4.5rem;
}

.hero .hero-info,
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hero-info .title {
  width: 32rem;
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  background: var(--gradients);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hero-info p {
  text-align: left;
  font-size: 1rem;
  max-width: 25rem;
}

.hero-info .hero-actions {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}

.hero-actions button {
  background: var(--gradients);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
  cursor: pointer;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: 700;
  width: 10rem;
  transition: 900ms ease-out;
}

.hero-actions button:hover {
  filter: invert(90%);
  transform: scale(1.1);
}

.hero-actions .call-to-action img {
  width: 16%;
}

.hero .hero-img {
  width: 30rem;
  border-radius: 3rem 0;
}

/* Section Info */
.info {
  width: 100%;
  padding: 3rem 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info .info-title {
  color: var(--title-color);
  font-size: 2rem;
}

.info .info-text {
  text-align: center;
}
